.question-item{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: dodgerblue;
}

li{
    padding: 5px;
}

#alert
{
    display: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:rgb(28, 68, 2);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border: 1px solid  rgb(119, 6, 134);
    background-color: rgb(170, 241, 5);
}
.question-item.correct {
    color: rgb(109, 240, 3);
}

.question-item.incorrect {
    color: red;
}

#alert.open
{
    display: block;
}
.btn
{
    padding: 20px 15px;
    background-color: tomato;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}